
<Sidebar Data="@sidebarInfo" />
<button class="btn btn-primary" @onclick="clickbutton">Click me</button>

@code{
    Sidebar sidebar;
    SidebarInfo sidebarInfo;
    protected override void OnInitialized(){

        sidebarInfo = new SidebarInfo
        {
            Brand = new SidebarBrandInfo
            {
                Text = "Blazorise Demo"
            },
            Items = new List<SidebarItemInfo>
        {
                new SidebarItemInfo { To = "", Text = "Dashboard" },
                new SidebarItemInfo
                {
                    Text = "Email",
                    Icon = IconName.Mail,
                    SubItems = new List<SidebarItemInfo>
                {
                        new SidebarItemInfo { To = "email/inbox", Text = "Inbox" },
                        new SidebarItemInfo { To = "email/compose", Text = "Compose Email" },
                    }
                },
                new SidebarItemInfo
                {
                    Text = "Applications",
                    SubItems = new List<SidebarItemInfo>
                {
                        new SidebarItemInfo { To = "apps/todo", Text = "Todo List" }
                    }
                },
            }
        };

        
        
    }

    private void clickbutton(){
        string sidebarstring = JsonSerializer.Serialize(sidebarInfo, new JsonSerializerOptions{WriteIndented = true});
        File.WriteAllText("fileName", sidebarstring);
    }
    
}